@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --pink-color: #f2726a;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  height: 100vh;
  background: linear-gradient(45deg, #00853e, #50c878);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.card {
  width: 300px;
  height: 400px;
  background-color: #242628;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  margin: 0 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.card__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
  transition: 0.25s;
  cursor: pointer;
  border: 4px solid var(--pink-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}

.card__img:hover {
  margin-top: 0px;
  width: 100%;
  height: 100%;
  border: unset;
  border-radius: unset;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card__name {
  margin-top: 20px;
  color: #fff;
  font-size: 24px;
}
.card__desc {
  font-size: 16px;
  color: var(--pink-color);
}
.card__social {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.card__social a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  margin: 0px 20px;
  transition: 0.25s;
}
.card__social a:hover {
  color: var(--pink-color);
}

.card__button {
  outline: none;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  background: transparent;
  border: 1px solid var(--pink-color);
  border-radius: inherit;
}

.card__button:hover {
  background-color: var(--pink-color);
}
